html, body {
  font-family: 'Avenir Next', 'Helvetica', 'Arial', sans-serif;
  overflow: hidden;
}

body {
  background-color: #3bc3ad;
}

.chat {
  width: 75%;
  float: left;
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 800, color-stop(0%, #2d5986), color-stop(800%, #1f4060));
  background: radial-gradient(circle, #2d5986, #1f4060);
  overflow: auto;
}

.chat-input {
  position: absolute;
  color: black;
  bottom: 0;
  width: inherit;
  padding-bottom: 1em;
  padding-top: 1em;
  background: #225daa;
  text-align: left;
  margin-bottom: 0;
}

#message {
  width: 80%;
  padding-left: 0.2em;

  color: black;
  margin-left: 0.9em;
}

.fa-comment {
  margin-right: 0.4em;
  margin-left: 0.2em;
}

.top-bar {
  font-family: sans-serif;
  box-shadow: 0 6px 6px -6px black;
  color: white;
  font-size: 1.4em;
  padding-top: 0.7em;
  background: #3e80c1;
  position: relative;
  overflow: hidden;
  padding-bottom: 0.7em;
}

.top-bar::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  opacity: 0.25;
}

.top-bar > * {
  position: relative;
}

#thread {
  padding-left: 0.2em;
}

#thread li {
  font-family: sans-serif;
  font-weight: 600;
  background-color: #00cccc;
  margin: 1em 2em;
  padding: 0.5em;
  color: white;
  overflow: hidden;
  word-wrap: break-word;
  border-radius: 0.7em;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.2);
  word-break: break-all;
}

#online-list {
  width: 25%;
  float: right;
  background-color: #3bc3ad;
}
